*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}
html{
    font-size: 62.5%;
}
.overlay{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #444;
}
.overlay-hidden{
    opacity: 0;
    pointer-events: none;
}
.overlay-top, .overlay-bottom{
    color: white;
}
.overlay-top{
    font-size: 4rem;
    margin-bottom: 1rem;
}
.overlay-bottom{
    font-size: 1.4rem;
    opacity: .3;
}

#play-btn {
    font-size: 4rem;
}